SUPABASE_URL=https://erhnacdbxpzrxuymbgzc.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVyaG5hY2RieHB6cnh1eW1iZ3pjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA0MDY4NTAsImV4cCI6MjA5NTk4Mjg1MH0.3j5O8a_iPmmk9gLkYy4PSLcfKwtik_ABUN8C0dAVSWc
JWT_SECRET=your-random-secret-string-here
